.todo-container {
  width: calc(100vw - 10em);
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;

  .todo-form {
    border: solid 1px #ccc;
    display: inline-block;

    input {
      width: calc(100% - 1.25rem);
      padding: 8px;
      font-size: 1rem;
      line-height: 1em;
      border: solid 1px #ccc;
      border-radius: 6px;
    }

    button {
      margin: 10px;
      padding: 10px 20px;
      background: white;
      color: #ccc;
      font-weight: bold;
      font-size: 1rem;
      line-height: 1em;
      border: solid 1px #ccc;
      cursor: pointer;
      transition: all 0.25s linear;

      &:hover {
        background: #ccc;
        color: white;
      }

      &[type="submit"] {
        background: orange;
        border-color: darkorange;
        color: white;

        &:hover {
          background: darkorange;
        }
      }
    }
  }

  .todo-list {
    width: 100%;
    margin: 0;
    padding: 40px;
    display: inline-block;
    border: solid 1px #ccc;

    h2 {
      margin: 0 0 10px 0;
      padding-bottom: 10px;
      text-align: left;
      border-bottom: solid 1px #ccc;
    }

    li {
      padding-left: 30px;
      text-align: left;
      list-style-type: none;
      line-height: 1.75em;
      position: relative;
      cursor: pointer;

      &:nth-child(2n+2) {
        background-color: #f6f6f6;
      }

      button {
        width: 20px;
        height: 20px;
        padding: 0;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 4px;
        right: 10px;
        cursor: pointer;

        &:hover {
          color: red;
          border-color: red;
        }
      }

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 0.688em;
        line-height: 0.875em;
        display: block;
        border: solid 1px #333;
        position: absolute;
        top: 10px;
        left: 10px;
      }

      &.done {
        color: rgb(0, 201, 0);

        &::before {
          content: '✓';
          border-color: rgb(0, 201, 0);
        }
      }
    }
  }
}